/* change site-box background color*/

body {
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
}

.left-column {
  width: 50%;
  height: 100%;
  background-color: #455A64;
  position: fixed;
}

.left-column,
.right-column {
  display: inline-block;
}

.right-column {
  width: 50%;
  height: 100%;
  background-color: #CFD8DC;
  position: absolute;
  left: 50%;
}

a {
  display: block;
}
header {
  margin: 230px 100px;
}

h1 {
  font-size: 45px ;
  font-weight: 800;
  color: #FFFFFF;
  width: 90%;
  margin: 0;
}

.logo {
  width: 70px;
  height: 40px;
}

.title-input,
.link-input,
form {
  font-size: 30px;
  font-weight: 400;
  border: none;
  width: 90%;
  margin: 10px 0;
}

.enter-btn {
  font-size: 16px;
  font-weight: 800;
  color: #FFFFFF;
  background-color: #FFC107;
  width: 90%;
  padding: 12px 0;
  margin-top: 20px;
}

.site-box {
  border: solid #607D8B;
  background-color: #FFFFFF;
  margin: 8px 12px;
}

.site-title,
.site-url {
  border-width: 5px;
  border-bottom: solid 2px #CFD8DC;
  padding: 10px 0;
  margin: 10px 20px;
}

.site-title {
  font-size: 30px;
  font-weight: 800;
  color: #455A64;
}

.site-url {
  font-size: 20px;
  font-weight: 400;
  color: #607D8B;
}

.read,
.delete-btn,
.read-red {
  font-weight: 400;
  font-size: 14px;
  border: none;
  background: none;
  color: #455A64;
  display: inline-block;
  margin-bottom: 12px;
}

.read {
  text-decoration: underline #455A64;
  position: relative;
  left: 2%;
}

.read-red {
  font-weight: 800;
  text-decoration: none;
  color: #F05A28; 
  position: relative;
  left: 2%;
}

.delete-btn {
  text-decoration: underline #455A64;
  position: absolute;
  right: 4%;
}

.site-url:hover,
.read:hover {
  font-weight: 800;
  color: #455A64;
  text-decoration: underline #FFC107;
}

.delete-btn:hover {
  text-decoration: underline #FFC107; 
}
