/* change site-box background color*/

body {
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
}

.left-column {
  position: fixed;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #455A64;
}

.right-column {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #CFD8DC;
}

/* left styles */

.submit-field {
    position: relative;
    top: 17%;
    left: 13%;
    width: 69%;
    padding: 35px;
    box-sizing: border-box;
}

/* form styles */
h1 {
  /*margin: auto 0;*/
  font-size: 60.8px;
  font-weight: 800;
  color: #FFFFFF;
 }

.logo {
  width: 70px;
  height: 40px;
}

.required-input {
  color: #FFFFFF;
}

.title-input,
.link-input {
  font-size: 30px;
  font-weight: 400;
  border: none;
  width: 100%;
  margin-top: 12px;
  display: block;
}

.counters {
  display: inline-block;
  font-weight: 800;
  color: #FFC107;
}

.space {
  margin-right: 5px;
}

.enter-btn {
  font-size: 16px;
  font-weight: 800;
  color: #FFFFFF;
  background-color: #FFC107;
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
}

.enter-btn:disabled {
  background-color: #CFD8DC;
}

.site-box {
  border: solid #607D8B;
  background-color: #FFFFFF;
  margin: 8px 12px;
}

.site-title,
.site-url {
  display: block;
  border-width: 5px;
  border-bottom: solid 2px #CFD8DC;
  padding: 10px 0;
  margin: 10px 20px;
}

.site-title {
  font-size: 30px;
  font-weight: 800;
  color: #455A64;
}

.site-url {
  font-size: 20px;
  font-weight: 400;
  color: #607D8B;
}

.to-read,
.delete-btn {
  font-weight: 400;
  font-size: 14px;
  border: none;
  background: none;
  color: #455A64;
  display: inline-block;
  margin-bottom: 12px;
}

.to-read {
  position: relative;
  left: 2%;
  text-decoration: underline #455A64;
}

.marked-read {
  position: relative;
  background-color: lightgrey;
}

.read-in-red {
  font-weight: 800;
  text-decoration: none;
  color: #F05A28; 
}

.delete-btn {
  position: absolute;
  right: 4%;
  text-decoration: underline #455A64;
}

.site-url:hover,
.read:hover {
  font-weight: 800;
  color: #455A64;
  text-decoration: underline #FFC107;
}

.delete-btn:hover {
  text-decoration: underline #FFC107; 
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}