body {
  font-family: 'Open-Sans', sans-serif;
  background-color: #455A64;
  margin: 0;
}

.left-column {
  width: 50%;
  height: 100%;
  margin: 15% 4%;
  position: fixed;
}

.left-column,
.right-column {
  display: inline-block;
}

.right-column {
  width: 50%;
  height: 100%;
  background-color: #CFD8DC;
  margin: 0;
  position: absolute;
  left: 50%;
}

h1 {
  font-size: 3.8em;
  font-weight: 800;
  color: #FFFFFF;
  width: 90%;
  margin: 0;
}

.logo {
  width: 70px;
  height: 40px;
}

.site-input,
.link-input,
form {
  font-size: 30px;
  font-weight: 400;
  color: #BBBDBF;
  border: none;
  width: 75%;
  margin: 20px 0;
}

.enter-btn {
  font-size: 16px;
  font-weight: 800;
  color: #FFFFFF;
  background-color: #FFC107;
  width: 75%;
  padding: 12px 0;
  margin-top: 20px;
}

.site-box {
  border: solid #607D8B;
  background-color: #FFFFFF;
  margin: 8px 12px;
}

.site-title,
.site-url {
  font-weight: 400;
  border-width: 5px;
  border-bottom: solid 2px #CFD8DC;
  padding: 10px 0;
  margin: 10px 20px;
}

.site-title {
  font-size: 30px;
  font-weight: 800;
  color: #455A64;
}

.site-url {
  font-size: 20px;
  color: #607D8B;
}

.read-btn,
.delete-btn {
  font-weight: 400;
  font-size: 14px;
  border: none;
  background: none;
  color: #455A64;
  display: inline-block;
  margin-bottom: 13px;
}

.read-btn {
  position: relative;
  left: 2%;
}

.delete-btn {
  position: absolute;
  right: 5%;
}

.site-url:hover,
.read-btn:hover {
  font-weight: 800;
  color: #455A64;
  text-decoration: underline #FFC107;
}

.delete-btn:hover {
  text-decoration: underline #FFC107; 
}

